/* Styles généraux */
header {
  margin-bottom: var(--margin-xs);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-links_gap {
  gap: var(--nav-link-gap);
}

.navbar-link, .navbar-link_tablet, .navbar-custom-link, .navbar-custom-link_tablet {
  color: var(--neutral-700);
  font-weight: 600;
  position: relative;
}

.navbar-link, .navbar-custom-link {
  font-size: var(--font-size-lg);
}

.navbar-link_tablet, .navbar-custom-link_tablet {
  font-size: var(--font-size-md);
}

.navbar-link::after, .navbar-custom-link::after, .navbar-link_tablet::after, .navbar-custom-link_tablet::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-color: var(--neutral-700);
  transition: width 0.3s ease;
}

.navbar-link:hover::after, .navbar-custom-link:hover::after, .navbar-link_tablet:hover::after, .navbar-custom-link_tablet::after {
  width: 100%;
}

.navbar-custom-link, .navbar-custom-link_tablet {
  padding: var(--nav-link-padding);
  margin: var(--nav-link-margin);
  border-right: var(--nav-link-border-right);
  transition: all 0.3s ease;
}

.navbar-custom-link:hover, .navbar-custom-link_tablet:hover {
  color: var(--nav-link-hover-color);
  background-color: var(--nav-link-hover-bg-color);
  transform: var(--nav-link-hover-transform);
}

.navbar-custom-link {
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-custom-link_tablet {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-btn-dark, .navbar-btn-dark_tablet {
  font-weight: 600;
  margin-left: 20px;
  color: white;
  background-color: var(--neutral-700);
  border-radius: var(--btn-dark-border-radius);
  border: 1px solid transparent;
  transition: background-color 0.3s ease,
              color 0.3s ease,
              border-color 0.3s ease,
              transform 0.3s ease;
}

.navbar-btn-dark {
  font-size: var(--font-size-lg);
  padding: var(--btn-dark-padding);
}

.navbar-btn-dark_tablet {
  font-size: var(--font-size-md);
  padding: var(--btn-dark-padding);
}

.navbar-btn-dark:hover, .navbar-btn-dark_tablet:hover {
  background-color: white;
  color: var(--neutral-700);
  border-color: var(--neutral-700);
  transform: scale(1.05);
}

.navbar-popup-menu {
  width: var(--popup-menu-width-lg);
  position: absolute;
  box-shadow: var(--popup-menu-box-shadow);
  display: var(--popup-menu-display);
  z-index: 10;
}

.hidden-below-1148 {
  display: block;
}

.visible-below-1148 {
  display: none;
}

@media (max-width: 1148px) {
  .hidden-below-1148 {
    display: none;
  }
  .visible-below-1148 {
    display: block;
  }
  .navbar-popup-menu {
    display: block;
  }
}

@media (max-width: 600px) {
  .navbar-popup-menu {
    width: var(--popup-menu-width-sm);
  }
}

/** Burger Menu **/
.navbar-burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--burger-menu-size);
  height: var(--burger-menu-size);
  border-radius: 8px;
  background-color: var(--burger-menu-bg-color);
}
