@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../theme/variables.css';

@layer base {
  body {
    @apply m-0 p-0 flex justify-center items-center box-border;
  }
}

@layer components {
  .custom-mx-lg {
    margin-left: 120px;
    margin-right: 120px;
  }
  .custom-mx-md {
    margin-left: 46px;
    margin-right: 46px;
  }
  .custom-mx-sm {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@layer utilities {
  /* Appliquer des marges différentes en fonction de la taille de l'écran */
  @media (max-width: 1148px) {
    .custom-mx {
      @apply custom-mx-md;
    }
  }

  @media (max-width: 768px) {
    .custom-mx {
      @apply custom-mx-sm;
    }
  }

  @media (max-width: 375px) {
    .custom-mx {
      @apply custom-mx-sm;
    }
  }
}

@layer components {
  main {
    @apply flex justify-center items-center flex-col w-full custom-mx custom-mx-lg;
  }
}
