@import "../../theme/variables.css";

.collections-section_container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  height: auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: var(--neutral-800);
}

.collections-categories_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.categories::-webkit-scrollbar {
  height: 6px;
}

.categories::-webkit-scrollbar-thumb {
  background-color: var(--neutral-300);
  border-radius: 3px;
}

.category {
  color: var(--neutral-800);
  cursor: pointer;
  background-color: var(--neutral-50);
  padding: 10px 26px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.active_category {
  color: white;
  background-color: var(--neutral-800);
}

.view_more {
  font-weight: 600;
  text-decoration: underline;
}

.collections-container {
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.collection-item {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border: solid 1px var(--neutral-100);
  height: 100%;
}

.image_wrapper {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: var(--neutral-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.collection-details {
  width: 100%;
  margin-top: 10px;
  padding: 10npx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.collection-name {
  font-size: 16px;
  float: left;
  font-weight: 700;
  color: var(--neutral-800);
}

.price_wrapper {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}

.price-value {
  font-size: 16px;
  font-weight: 700;
  color: var(--neutral-800);
}

.cta-wrapper {
  margin-top: 5px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.cta-btn {
  background-color: white;
  border: solid 1px var(--neutral-800);
  border-radius: 12px;
  white-space: nowrap;
  width: 100%;
  max-width: 370px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  color: var(--neutral-800);
  display: block;
}

@media (max-width: 1000px) {
  .collections-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 716px) {
  .collections-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .collections-section_container {
    margin-top: 450px;
  }
}

@media (max-width: 716px) {
  .collections-section_container {
    margin-top: 340px;
  }

  .collections-categories_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .categories {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 610px) {
  .collections-section_container {
    overflow: hidden;
  }

  .collections-categories_container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .categories {
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  /**FOR NEW COMMIT*/

  .category {
    flex: 1 0 30%; 
    margin: 5px 0; 
    text-align: center;

  }
}

