:root {
    --neutral-50: #E8E9EA;
    --neutral-100: #B8BABE;
    --neutral-200: #96989E;
    --neutral-300: #666A72;
    --neutral-400: #484D56;
    --neutral-500: #1A202C;
    --neutral-600: #181D28;
    --neutral-700: #12171F;
    --neutral-800: #0E1218;
    --neutral-900: #0B0D12;

    --hero-title-lg: 120px;
    --hero-title-md: 105px;
    --hero-title-sm: 70px;
    --hero-title-xs: 50px;
    --hero-line-height-lg: 108px;
    --hero-line-height-md: 60px;
    --hero-line-height-sm: 50px;
    --hero-margin-top: 50px;
    --hero-padding: 10px;
    --hero-gap: 20px;
    --image-width-lg: 287.58px;
    --image-height-lg: 442.29px;
    --image-width-sm: 60%;

    --margin-lg: 120px;
    --margin-md: 46px;
    --margin-sm: 20px;
    --margin-xs: 10px;

    --font-size-lg: 16px;
    --font-size-md: 14px;
    --font-size-sm: 14px;

    --btn-dark-padding: 10px 24px;
    --btn-dark-border-radius: 42px;
    --burger-menu-size: 32px;
    --burger-menu-bg-color: var(--neutral-50);
    --popup-menu-width-lg: 492px;
    --popup-menu-width-sm: 346px;
    --popup-menu-box-shadow: -8px 0 8px -4px var(--neutral-50);

    --nav-link-gap: 28px;
    --nav-link-padding: 4px;
    --nav-link-margin: 6px 0;
    --nav-link-border-right: 2px solid var(--neutral-700);
    --nav-link-hover-bg-color: var(--neutral-700);
    --nav-link-hover-color: white;
    --nav-link-hover-transform: scale(1.05);

    --popup-menu-display: none;
}
